:root {
  --pri-color-light: #c36f09;
  --pri-color-default: #b55608;
  --pri-color-dark: #ae4907;
  --sec-color-light: #c54607;
  --sec-color-default: #8c1e03;
  --sec-color-dark: #710000;
  --ter-color-light: #f4e409;
  --ter-color-default: #eeba0b;
  --ter-color-dark: #e4a80b;
  --color-light: #f5f5f5;
  --color-dark: #140000;
  --color-dark-rgba: 20, 0, 0;
  --color-grey: #e5e5e5;
  --font-bold: fatfrank, sans-serif;
  --border-dark: 0.2rem solid var(--color-dark);
  --border-radius: 0.4rem;
  --box-shadow: 0.6rem 0.6rem 2rem rgba(var(--color-dark-rgba), 0.2); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: marco, serif;
  font-weight: 400;
  color: var(--color-dark); }

.u-active-btn {
  background-color: var(--color-dark) !important;
  color: var(--color-light) !important;
  border: none !important;
  border-left: 0.8rem solid var(--ter-color-default) !important;
  border-radius: 0.4rem !important; }

.u-no-display {
  display: none !important; }

.u-is-flag-hovered:hover {
  color: var(--ter-color-default) !important; }

.notice {
  font-size: 3.6rem;
  text-transform: uppercase; }

.result-card {
  height: 16rem;
  width: 85%;
  padding: 2rem;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'venue info address soundcheck' 'venue info address stage-time' 'date info address icon';
  gap: 1rem;
  box-shadow: var(--box-shadow); }
  .result-card__venue {
    grid-area: venue;
    padding: 0.4rem;
    border: var(--border-dark);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column; }
    .result-card__venue-title {
      font-weight: 600; }
    .result-card__venue > span {
      font-size: 1.4rem; }
  .result-card__date {
    grid-area: date;
    padding: 0.4rem;
    border: var(--border-dark);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .result-card__date-title {
      font-weight: 600; }
    .result-card__date > span {
      font-size: 1.4rem; }
  .result-card__info {
    grid-area: info;
    overflow: auto;
    padding: 0.4rem;
    border: var(--border-dark);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column; }
    .result-card__info-title {
      font-size: 1.4rem !important;
      font-weight: 600; }
    .result-card__info-notes {
      font-size: 1.2rem;
      hyphens: auto; }
  .result-card__address {
    grid-area: address;
    padding: 0.4rem;
    border: var(--border-dark);
    border-radius: var(--border-radius); }
    .result-card__address-title {
      font-size: 1.4rem !important;
      font-weight: 600; }
    .result-card__address-format {
      margin: 0.2rem;
      list-style: none;
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;
      gap: 0.2rem; }
  .result-card__sound-check {
    grid-area: soundcheck;
    padding: 0.4rem;
    border: var(--border-dark);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .result-card__sound-check-title {
      font-weight: 600; }
    .result-card__sound-check > span {
      font-size: 1.4rem; }
  .result-card__stage-time {
    grid-area: stage-time;
    padding: 0.4rem;
    border: var(--border-dark);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .result-card__stage-time-title {
      font-weight: 600; }
    .result-card__stage-time > span {
      font-size: 1.4rem; }
  .result-card__icon {
    width: 100%;
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; }
    .result-card__icon .icon:nth-child(3) {
      margin-left: auto; }
    .result-card__icon .icon:nth-child(3):hover {
      color: red; }
    .result-card__icon > .icon {
      font-size: 2.2rem; }
    .result-card__icon > .icon:hover {
      color: var(--ter-color-default); }

.edit-section__add {
  height: 100%;
  width: 100%;
  overflow: auto;
  grid-area: results;
  background-color: rgba(var(--color-dark-rgba), 0.6);
  display: flex;
  align-items: center;
  justify-content: center; }

.edit-section__edit {
  height: 100%;
  width: 100%;
  overflow: auto;
  grid-area: results;
  background-color: rgba(var(--color-dark-rgba), 0.6);
  display: flex;
  align-items: center;
  justify-content: center; }

.edit-window {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  background-color: var(--color-light);
  display: flex;
  align-items: start;
  justify-content: center; }
  .edit-window__form, .edit-window__form-edit {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem; }
    .edit-window__form-item, .edit-window__form-edit-item {
      width: 80%;
      padding: 1rem;
      background-color: var(--color-dark);
      border-radius: var(--border-radius);
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center; }
    .edit-window__form-submit-btn, .edit-window__form-edit-btn, .edit-window__form-cancel-btn, .edit-window__form-edit-submit-btn, .edit-window__form-edit-edit-btn, .edit-window__form-edit-cancel-btn {
      width: 80%;
      margin-top: 1rem;
      padding: 0.8rem;
      font-size: 2rem;
      border: none;
      background-color: transparent;
      border: var(--border-dark);
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
      text-transform: uppercase;
      font-family: inherit;
      text-transform: uppercase;
      cursor: pointer; }
    .edit-window__form-edit-btn, .edit-window__form-edit-edit-btn {
      background-color: var(--ter-color-default); }
    .edit-window__form-cancel-btn, .edit-window__form-edit-cancel-btn {
      background-color: #da3d3d; }
    .edit-window__form-submit-btn:hover, .edit-window__form-edit-btn:hover, .edit-window__form-cancel-btn:hover, .edit-window__form-edit-submit-btn:hover, .edit-window__form-edit-edit-btn:hover, .edit-window__form-edit-cancel-btn:hover {
      background-color: var(--color-dark);
      color: var(--color-light); }
  .edit-window__main-title {
    font-family: var(--font-bold);
    font-size: 2.6rem;
    text-transform: uppercase; }
  .edit-window__title {
    font-size: 1.8rem;
    text-transform: uppercase; }
  .edit-window__label {
    padding: 0.8rem;
    font-size: 1.2rem;
    color: var(--color-light);
    text-transform: uppercase; }
  .edit-window__input, .edit-window__input-edit {
    width: 100%;
    padding: 0.8rem;
    color-scheme: dark;
    color: var(--color-light);
    font-family: inherit;
    background-color: transparent;
    border: none; }
    .edit-window__input-area, .edit-window__input-edit-area {
      max-width: 100%; }
    .edit-window__input:focus, .edit-window__input-edit:focus {
      outline: 0.2rem solid var(--color-light);
      border-radius: var(--border-radius); }
  .edit-window__input::placeholder, .edit-window__input::-webkit-placeholder {
    opacity: 0.6;
    color: var(--color-light); }

.main {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'header header' 'nav results'; }

.header {
  grid-area: header;
  height: 6rem;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-areas: 'logo header';
  align-items: center;
  justify-items: center; }
  .header-logo {
    grid-area: logo;
    font-family: var(--font-bold);
    font-size: 2rem;
    text-align: center; }
  .header-main-title {
    font-size: 2.4rem;
    text-transform: uppercase; }

.aside-menu {
  padding-top: 1.4rem;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1.4rem; }
  .aside-menu__months-form-section {
    width: 80%; }
  .aside-menu__months-form {
    padding: 0.6rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'title title' 'selector btn';
    gap: 0.6rem;
    align-items: center;
    justify-items: start;
    border: var(--border-dark); }
    .aside-menu__months-form-label {
      width: 100%;
      grid-area: title;
      font-size: 1.4rem;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .aside-menu__months-form-select {
      grid-area: selector;
      font-size: 1.2rem;
      padding: 0.4rem;
      font-family: inherit;
      text-transform: uppercase;
      background-color: transparent;
      border: none; }
    .aside-menu__months-form-submit {
      grid-area: btn;
      border: none;
      background-color: transparent;
      border: var(--border-dark);
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
      text-transform: uppercase;
      font-family: inherit;
      text-transform: uppercase;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center; }
    .aside-menu__months-form-submit:hover {
      background-color: var(--color-dark);
      color: var(--color-light); }
  .aside-menu__title {
    font-size: 2.2rem;
    text-transform: uppercase; }
  .aside-menu__content-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4rem; }
  .aside-menu__content-months {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4rem; }
  .aside-menu__content-tours {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4rem; }
  .aside-menu__btn, .aside-menu__btn-dates, .aside-menu__btn-tours {
    height: 2.8rem;
    width: 80%;
    padding: 1.2rem;
    border: none;
    background-color: transparent;
    border: var(--border-dark);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-transform: uppercase;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .aside-menu__btn:hover, .aside-menu__btn-dates:hover, .aside-menu__btn-tours:hover {
    background-color: var(--color-dark);
    color: var(--color-light); }
  .aside-menu__dates-content {
    width: 80%;
    padding: 1.2rem;
    list-style: none;
    text-transform: uppercase;
    border: var(--border-dark);
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .aside-menu__dates-content-items:nth-child(2) {
    padding-top: 1rem;
    border-top: var(--border-dark); }
  .aside-menu__dates-content-items-title {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .aside-menu__dates-content-items-title-text {
    font-size: 1.4rem; }
  .aside-menu__dates-content-items {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .aside-menu__dates-content-item {
    padding: 0.2rem;
    font-size: 1.4rem;
    cursor: pointer; }
    .aside-menu__dates-content-item--btn {
      width: 100%;
      padding: 0.2rem;
      border: none;
      background-color: transparent;
      border: var(--border-dark);
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
      text-transform: uppercase;
      font-family: inherit;
      text-transform: uppercase;
      cursor: pointer;
      box-shadow: none;
      transition: all 0.2s; }
    .aside-menu__dates-content-item--btn:hover {
      background-color: var(--color-dark);
      color: var(--color-light); }
  .aside-menu__copyright {
    margin-top: auto; }

.results-section {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-top: 4rem;
  grid-area: results;
  background-color: var(--color-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem; }

.icon {
  font-size: 1.4rem;
  cursor: pointer; }
