/* 
BREAKPOINTS
*/

$breakpoints: (
  maxBreakOne: 68.5em,
  maxBreakTwo: 53.5em,
  maxBreakThree: 42em,
  maxBreakFour: 36.5em,
  maxBreakFive: 28.7em,
);

@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    @media (max-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}

/* 
MIXINS
*/

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin card-border {
  padding: 0.4rem;
  border: var(--border-dark);
  border-radius: var(--border-radius);
}

@mixin btn-basic-layout {
  border: none;
  background-color: transparent;
  border: var(--border-dark);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-transform: uppercase;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
