.result-card {
  height: 16rem;
  width: 85%;
  padding: 2rem;
  background-color: var(--color-light);
  border-radius: var(--border-radius);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'venue info address soundcheck'
    'venue info address stage-time'
    'date info address icon';
  gap: 1rem;

  animation-name: slideLeft;
  animation-duration: 0.4s;

  box-shadow: var(--box-shadow);

  @include breakpoint(maxBreakThree) {
    height: 14rem;
  }

  @include breakpoint(maxBreakFour) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'venue address info'
      'date address info'
      'stage-time soundcheck icon';
    gap: 0.8rem;

    padding: 1.6rem;
  }

  &__venue {
    grid-area: venue;

    @include card-border;

    display: flex;
    flex-direction: column;

    &-title {
      font-weight: 600;
    }

    > span {
      font-size: 1.4rem;

      @include breakpoint(maxBreakThree) {
        font-size: 1.1rem;
      }

      @include breakpoint(maxBreakFive) {
        font-size: 0.9rem;
      }
    }
  }

  &__date {
    grid-area: date;

    @include card-border;
    @include flex-space-between;

    &-title {
      font-weight: 600;
    }

    > span {
      font-size: 1.4rem;

      @include breakpoint(maxBreakThree) {
        font-size: 1.1rem;
      }

      @include breakpoint(maxBreakFive) {
        font-size: 0.9rem;
      }
    }
  }

  &__info {
    grid-area: info;
    overflow: auto;

    @include card-border;

    display: flex;
    flex-direction: column;

    &-title {
      font-size: 1.4rem !important;
      font-weight: 600;

      @include breakpoint(maxBreakThree) {
        font-size: 1.1rem !important;
      }

      @include breakpoint(maxBreakFive) {
        font-size: 0.9rem !important;
      }
    }

    &-notes {
      font-size: 1.2rem;
      hyphens: auto;
      white-space: pre-wrap;

      @include breakpoint(maxBreakThree) {
        font-size: 1.1rem;
      }

      @include breakpoint(maxBreakFive) {
        font-size: 0.9rem;
      }
    }
  }

  &__address {
    grid-area: address;

    overflow-y: auto;

    @include card-border;

    &-title {
      font-size: 1.4rem !important;
      font-weight: 600;

      @include breakpoint(maxBreakThree) {
        font-size: 1.1rem !important;
      }

      @include breakpoint(maxBreakFive) {
        font-size: 0.9rem !important;
      }
    }

    &-format {
      margin: 0.2rem;
      list-style: none;

      font-size: 1.4rem;

      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      @include breakpoint(maxBreakThree) {
        font-size: 1.1rem;
      }

      @include breakpoint(maxBreakFive) {
        font-size: 0.9rem;
      }
    }
  }

  &__sound-check {
    grid-area: soundcheck;

    @include card-border;
    @include flex-space-between;

    &-title {
      font-weight: 600;
    }

    > span {
      font-size: 1.4rem;

      @include breakpoint(maxBreakThree) {
        font-size: 1.1rem;
      }

      @include breakpoint(maxBreakFive) {
        font-size: 0.9rem;
      }
    }
  }

  &__stage-time {
    grid-area: stage-time;

    @include card-border;
    @include flex-space-between;

    &-title {
      font-weight: 600;
    }

    > span {
      font-size: 1.4rem;

      @include breakpoint(maxBreakThree) {
        font-size: 1.1rem;
      }

      @include breakpoint(maxBreakFive) {
        font-size: 0.9rem;
      }
    }
  }

  &__icon {
    width: 100%;
    grid-area: icon;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .icon:nth-child(3) {
      margin-left: auto;
    }

    .icon:nth-child(3):hover {
      color: red;
    }

    > .icon {
      font-size: 2.2rem;

      @include breakpoint(maxBreakThree) {
        font-size: 1.8rem;
      }
    }

    > .icon:hover {
      color: var(--ter-color-default);
    }
  }
}
