:root {
  --pri-color-light: #c36f09;
  --pri-color-default: #b55608;
  --pri-color-dark: #ae4907;

  --sec-color-light: #c54607;
  --sec-color-default: #8c1e03;
  --sec-color-dark: #710000;

  --ter-color-light: #f4e409;
  --ter-color-default: #eeba0b;
  --ter-color-dark: #e4a80b;

  --color-light: #f5f5f5;
  --color-dark: #140000;
  --color-dark-rgba: 20, 0, 0;
  --color-grey: #e5e5e5;

  --font-bold: fatfrank, sans-serif;

  --border-dark: 0.2rem solid var(--color-dark);
  --border-radius: 0.4rem;

  --box-shadow: 0.6rem 0.6rem 2rem rgba(var(--color-dark-rgba), 0.2);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: marco, serif;
  font-weight: 400;
  color: var(--color-dark);
}
