.main {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header header'
    'nav results';

  @include breakpoint(maxBreakTwo) {
    display: flex;
    flex-direction: column;
  }
}

.header {
  grid-area: header;
  position: relative;

  height: 6rem;

  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-areas: 'logo header';

  align-items: center;
  justify-items: center;

  @include breakpoint(maxBreakTwo) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  &-logo {
    grid-area: logo;

    font-family: var(--font-bold);
    font-size: 2rem;
    text-align: center;

    display: block;

    @include breakpoint(maxBreakTwo) {
      display: none;
    }

    &__text {
      position: relative;
      display: block;
    }

    &__text:before {
      content: attr(data-highlight);
      position: absolute;
      color: var(--ter-color-default);
      left: 0;
      width: 0;
      overflow: hidden;

      animation-name: highlightWord;
      animation-timing-function: linear;
      animation-duration: 0.3s;
      animation-iteration-count: 2;
      animation-direction: alternate;
    }
  }

  &__mobile-nav-icon {
    display: none;

    @include breakpoint(maxBreakTwo) {
      display: block;
      font-size: 4rem;
      cursor: pointer;

      animation-name: slideInTop;
      animation-duration: 0.4s;
    }

    @include breakpoint(maxBreakThree) {
      font-size: 3.8rem;
    }

    @include breakpoint(maxBreakFive) {
      font-size: 3.2rem;
    }
  }

  &__invisible-flex-item {
    display: none;

    @include breakpoint(maxBreakTwo) {
      display: block;
      height: 4rem;
      width: 4rem;
    }

    @include breakpoint(maxBreakThree) {
      height: 3.8rem;
      width: 3.8rem;
    }
  }

  &-main-title {
    font-size: 2.4rem;
    text-transform: uppercase;

    @include breakpoint(maxBreakThree) {
      font-size: 2rem;
    }

    @include breakpoint(maxBreakFive) {
      font-size: 1.8rem;
    }

    &__text {
      animation-name: slideInTop;
      animation-duration: 0.4s;
    }
  }
}

.aside-menu {
  padding-top: 1.4rem;
  grid-area: nav;
  overflow-y: auto;

  @include breakpoint(maxBreakTwo) {
    height: 100vh;
    width: 20rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--box-shadow);
    z-index: 2000;

    transition: all 0.2s;

    transform: translateX(-30rem);

    &:before {
      content: 'GIGPAL';
      font-family: var(--font-bold);
      font-size: 3.6rem;
      text-align: center;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1.4rem;

  &__months-form-section {
    width: 80%;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }

  &__months-form {
    padding: 0.6rem;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'title title'
      'selector btn';
    gap: 0.6rem;
    align-items: center;
    justify-items: start;

    border: var(--border-dark);

    &-label {
      width: 100%;
      grid-area: title;

      font-size: 1.4rem;
      text-transform: uppercase;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-select {
      grid-area: selector;

      font-size: 1.2rem;
      padding: 0.4rem;
      font-family: inherit;
      text-transform: uppercase;
      background-color: transparent;
      border: none;
    }

    &-submit {
      grid-area: btn;

      @include btn-basic-layout;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-submit:hover {
      background-color: var(--color-dark);
      color: var(--color-light);
    }
  }

  &__title {
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  &__content-view {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
  }

  &__content-months {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
  }

  &__content-tours {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
  }

  &__btn-wrap {
    width: 80%;
    display: flex;
    gap: 1rem;
    @include flex-space-between;
  }

  &__btn,
  &__btn-dates,
  &__btn-tours {
    height: 2.8rem;
    width: 80%;

    padding: 1.2rem;

    @include btn-basic-layout;
    box-shadow: none;

    transition: all 0.2s;

    cursor: pointer;

    @include flex-space-between;
  }

  &__btn-dates {
    width: 100%;
  }

  &__btn-bin {
    transition: all 0.2s;
    padding: 0.4rem;
    @include btn-basic-layout;
    box-shadow: none;
    @include flex-space-between;
  }

  &__btn:hover,
  &__btn-bin:hover,
  &__btn-dates:hover,
  &__btn-tours:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  &__dates-content {
    width: 80%;
    padding: 1.2rem;
    list-style: none;
    text-transform: uppercase;
    animation-name: fadeIn;
    animation-duration: 0.4s;

    border: var(--border-dark);

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__dates-content-items:nth-child(2) {
    padding-top: 1rem;
    border-top: var(--border-dark);
  }

  &__dates-content-items-title {
    @include flex-space-between;
  }

  &__dates-content-items-title-text {
    font-size: 1.4rem;
  }

  &__dates-content-items {
    @include flex-space-between;
  }

  &__dates-content-item {
    padding: 0.2rem;
    font-size: 1.4rem;
    cursor: pointer;

    &--btn {
      width: 100%;
      padding: 0.2rem;
      @include btn-basic-layout;
      box-shadow: none;

      transition: all 0.2s;
    }

    &--btn:hover {
      background-color: var(--color-dark);
      color: var(--color-light);
    }
  }

  &__copyright {
    padding: 1rem;
    margin-top: auto;

    text-align: center;
    line-height: 1.6rem;
    font-size: 1.2rem;
    color: var(--color-grey);
  }
}

.results-section {
  height: 100%;
  width: 100%;
  overflow: auto;

  padding-top: 4rem;

  grid-area: results;
  background-color: var(--color-grey);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  @include breakpoint(maxBreakFive) {
    padding-top: 2.6rem;
  }
}

.gig-icon-elipsis {
  &-wrap {
    position: relative;
  }

  &__pop-up {
    position: absolute;
    height: 2.8rem;
    width: 12rem;
    box-shadow: 0.3rem 0.3rem 1rem rgba(var(--color-dark-rgba), 0.2);
    background-color: var(--color-dark);
    color: var(--color-light);
    top: -3.2rem;
    left: -11.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &-view,
    &-delete {
      cursor: pointer;
      height: 100%;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-view:hover,
    &-delete:hover {
      background-color: var(--color-light);
      color: var(--color-dark);
    }
  }
}

.notice {
  @include breakpoint(maxBreakFive) {
    font-size: 3rem;
  }

  animation-name: slideLeft;
  animation-duration: 0.4s;
}

.icon {
  font-size: 1.4rem;
  cursor: pointer;
}
